@model web.Models.ViewChart

<h1>The server-side diagram</h1>
<p>
	@Html.Partial("DivDiagram")
</p>
<p>
	This is fragment of a single line diagram animated by changing data in the database. This diagram is from the domain of power systems. 
	But you can upload and attach to the data your own diagram from any other domain. The diagram may have any look as you wish.<br/>
	The data that affect the diagram are continuously received from remote host.
</p>
<p>
	All you need to create your own diagram is any vector graphics editor capable to store picture in SVG-format.
</p>
