
<h1>The server-side chart matrix</h1>
<p>
	@Html.Partial("DivChartSet")
</p>
<p>
	This is an example of chart matrix which is rendered at the server side. Intended to be viewable from any browser (even ancient) on any device.<br/>
	The data that affect the charts are continuously pumped from remote host.
</p>

