
<div class="logo">@Html.Raw((String)ViewBag.AppName1) <span>@Html.Raw((String)ViewBag.AppName2)</span></div>
<br />
By using this website you confirm your agreement to these @Html.ActionLink("terms and conditions", "EULA", "Home").
