
<h1>The server-side chart</h1>
<p>
	@Html.Partial("DivChart") 
</p>
<p>
	This is an example of chart which is rendered at the server side. Intended to be viewable from any browser (even ancient) on any device.<br/>
	The data that affect the chart are continuously pumped from remote host.
</p>
