@{
    ViewBag.Title = "End User License Agreement";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style type="text/css" >
    body {
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        color:#cccccc;
        background:#0e235a;
        min-height:1178px;
    }
</style>

<h2>RationalCity. Terms of Use.</h2>
This document sets the terms and conditions ("terms") for the use of the Services (as defined below). 
We reserve the right to amend these terms from time to time and all such amendments shall apply to our relationship 
effective immediately upon our notification to you.
<br />
<br />
<h2>1.      Acceptance of Terms.</h2>
1.1.   These terms are between us, RationalCity Ltd. ("RationalCity" or "we"), and you, the legal entity that will be 
using the Services or that will be granted access to the Services for any purpose, including for evaluation purposes, 
testing purposes, presentation purposes, campaign purposes, pre-sale activity or any other purpose ("you" or "End User"). 
For the purpose of these terms, "Reseller" shall mean an entity that is identified by RationalCity as RationalCity's 
authorized reseller.
<br />
1.2.   Your use of RationalCity's products, software, services, support and maintenance services and web site or any 
part thereof (referred to collectively as the "Services" in these terms, and excluding any services provided to you 
by RationalCity under a specific, separate written agreement) is subject to the terms of use detailed herein.  
<br />
<br />
<h2>2.      The Services.</h2>
2.1.   In providing the Services, we obtain and rely on certain information from you, from third parties, and third 
party software and applications.  We cannot guarantee the accuracy or completeness of such data nor can we assume any 
responsibility for the analytical, historical and statistical information provided to you as part of or by your using 
or accessing the Services.
<br />
2.2.   The use of the Services is conditioned upon your providing an Internet connection of sufficient bandwidth and 
quality, and for meeting such other site requirements as we or our Reseller may specify.  
<br />
<br />
<h2>3.      Permission to Use the Service.</h2>
3.1.   You may access and use the Services only for your own use, and only so long as you are in compliance with all 
provisions of these terms and make all payments relating to the Services as and when due.
<br />
3.2.   You acknowledge that we may, in our sole discretion and at any time or from time to time, change or discontinue 
providing any part of the Services, and our sole liability in such case shall be to refund any amounts previously paid 
by you with respect to any portion of the Services that we discontinue.    
<br />
<br />
<h2>4.      User Conduct.</h2>
4.1.   In connection with your use of the Services you agree to abide by all applicable local, state, national and 
international laws and regulations and not, nor allow or facilitate a third party, to violate any rights, data or 
information of others or the operational or security mechanisms of the Services or to allow third parties to use or to 
exploit the Services, in any manner whatsoever.
<br />
4.2.   Without limiting the foregoing, you may not:
<br />
4.2.1.      use the Services to promote, conduct, or contribute to fraudulent or illegal activities, including without 
limitation deceptive impersonation;
<br />
4.2.2.      infringe on intellectual property rights (including, without limitation, copyrights and trademark rights) 
relating to: (i) the Services, and (ii) third party content or resources;
<br />
4.2.3.      disrupt, circumvent, self-customize, or interfere with any part of the Service; attempt to circumvent any 
protection mechanism in the Services, or any part or component thereof;
<br />
4.2.4.      alter, modify, delete, forge, frame, hyper-link, or otherwise interfere with or in any manner compromise 
the Services or any content, programming, advertising, services or features contained in or through the Services, 
including without limitation any data, text, images, sounds, video, content, programming, logos, trademarks, 
service marks, HTML code, compilation of content, format, design, user interface and software made available through 
or which appears as part of the Services ("Content");
<br />
4.2.5.      access or use, or attempt to access or use, any RationalCity systems, programs or data that you are not 
authorized to access or use, or bypass or attempt to bypass any registration or User ID authentication processes, or 
any other security mechanisms, included in or part of the Services; 
<br />
4.2.6.      decompile, disassemble, reverse engineer or otherwise attempt to discover any source code or underlying 
ideas or algorithms of the Services;
<br />
4.2.7.      copy, distribute, transmit, publicly display, publicly perform, modify, rent, sell, or create derivative 
works of any portion of the Services or any component or software included within or embedded in the Services;
<br />
4.2.8.      use the Services in any manner which is in contrary to its intended purpose or which  is not specifically 
authorized by RationalCity.
<br />
<br />
<h2>5.      Registration</h2>
5.1.   Access to the Services requires registration, and as part of the process you will be requested to provide certain 
information, including a unique User ID and a password ("Registration Data") provided to you by RationalCity or 
RationalCity's Reseller. You are responsible for providing true, accurate, current and complete Registration Data; 
promptly updating the Registration Data to keep it accurate, current and complete; preventing access to the Services by 
any unauthorized person by means of use of your Registration Data.
<br />
5.2.   You agree that RationalCity may, in its sole discretion and without notice or liability to you or any third party, 
immediately suspend or disable your account and deny access to the Services (or any portion thereof) upon loss, theft or 
unauthorized use of your Registration Data, an intellectual property infringement claim by any third party, or violation 
of these terms.  
<br />
<br />
<h2>6.      End User Improvements.</h2>
6.1.   You agree that RationalCity may, in RationalCity's sole discretion, use any improvements that you request or 
propose to the Services, and any feedback or ideas that you provide to RationalCity in connection with the Services in 
any way ("Submission"), including without limitation in future modifications of the Services or advertising and promotional 
materials relating thereto.
<br />
6.2.   You hereby grant RationalCity and its successors and Affiliates a perpetual, worldwide, non-exclusive, transferable, 
non-revocable, sub-licensable, royalty-free and fully paid-up license, without restriction, to use, modify, create derivative 
works from, reproduce, distribute and display any of your Submissions, without notice to you.  
<br />
<br />
<h2>7.      Intellectual Property; Trademarks.</h2>
7.1.   All Content included in or incorporated into the Services or that may be made available to you by RationalCity 
from time to time is and remains the sole property of RationalCity or its vendors or licensors, and is protected by 
copyrights, trademarks, service marks, patents and other proprietary rights and intellectual proprietary rights and laws.
<br />
7.2.   RationalCity makes no claim of ownership as to the trademarks of any vendor listed on the Services, or with respect 
to any publication mentioned in the Services, including any goodwill that arises from the use of those trademarks.      
<br />
<br />
<h2>8.      End User Confidential Information.</h2>
8.1.   We understand that as part of the Services you may disclose certain Confidential Information (as defined below) to us.  
RationalCity will take reasonable measures to maintain all of your Confidential Information in confidence and not to disclose 
any Confidential Information to any third party without your prior consent. For the purpose of this section “Confidential 
Information” means your technical and non-technical proprietary information disclosed by you to RationalCity which is designated 
in writing as "Confidential" or "Proprietary" at the time of disclosure or promptly thereafter. Confidential Information shall 
not include any information that: (1) was in the public domain prior to the time of disclosure by the you; (2) enters the public 
domain after disclosure by you to RationalCity through no action or inaction of RationalCity; (3) is already in the possession of 
RationalCity free of any obligation of confidentiality at the time of disclosure by you; (4) is obtained by RationalCity from a 
third party; (5) is independently developed by RationalCity without use of or reference to your Confidential Information; or (6) 
is required by law to be disclosed by RationalCity, provided that RationalCity gives you immediate written notice of such requirement 
prior to such disclosure and shall provide you with reasonable assistance in obtaining an order protecting the information from 
public disclosure.   
<br />
<br />
<h2>9.      Disclaimer of all Warranties.</h2>
9.1.   YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE CONTENT AND THE SERVICES, OR YOUR PERFORMANCE, USE OR CONDUCT OF ANY 
ACTIVITY OR ANY OTHER USE OF THE SERVICES, IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE 
FOR ANY RESULTING CONSEQUENCES, INCLUDING WITHOUT LIMITATION ANY RESULTING DAMAGES OR COSTS TO RationalCity OR TO ANY OTHER 
INDIVIDUAL OR ENTITY.
<br />
9.2.   RationalCity shall not be held liable for any down time or unavailability of the Services due to internet down time, 
insufficient band width or any errors which are beyond RationalCity's reasonable control.  
<br />
9.3.   THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, 
RationalCity, RationalCity'S AFFILIATES, LICENSORS, AND SUPPLIERS (COLLECTIVELY, "SUPPLIERS") EXPRESSLY DISCLAIM ALL WARRANTIES 
OF ANY KIND, WHETHER EXPRESS OR IMPLIED, REGARDING THE CONTENT AND THE SERVICES, INCLUDING BUT NOT LIMITED TO THE IMPLIED 
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
<br />
9.4.   WITHOUT LIMITING THE FOREGOING, RationalCity MAKES NO WARRANTY THAT THE SERVICES WILL MEET YOUR REQUIREMENTS, OR WILL 
BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR, BUG OR VIRUS FREE; NOR DOES RationalCity WARRANTS OR MAKES ANY REPRESENTATIONS 
REGARDING THE USE OR THE RESULTS, THE SERVICES OR THE CONTENT IN TERMS OF ITS CORRECTNESS, COMPLETENESS, AVAILABILITY, ACCURACY, 
RELIABILITY OR OTHERWISE.  
<br />
<br />
<h2>10.  Limitation of Liability.</h2>
UNDER NO CIRCUMSTANCES SHALL RationalCity BE LIABLE, UNDER CONTRACT, NEGLIGENCE, STRICT LIABILITY 
OR OTHER LEGAL THEORY, FOR ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES INCLUDING BUT NOT LIMITED TO, 
DAMAGES FOR LOSS OF PROFITS, REPUTATION, GOODWILL, USE, DATA OR OTHER INTANGIBLE. IN ADDITION, UNDER NO CIRCUMSTANCES SHALL 
RationalCity BE LIABLE FOR ANY DAMAGES (I) ARISING OUT OF THE USE OR THE INABILITY TO USE OR THE AVAILABILITY OR PERFORMANCE 
OF THE SERVICES , OR (II) FOR COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICE(S), OR (III) FOR ANY COST OF PROCUREMENT OF 
SUBSTITUTE GOODS OR SERVICE(S) RESULTING FROM USER ID SUSPENSION, TERMINATION, SHUT DOWN, LIMITATIONS OR ANY OTHER OPERATION 
DECIDED SOLELY BY RationalCity IN CONNECTION WITH SUCH USER ID, OR (IV) RESULTING FROM ANY INACCURACIES OR ERRORS OF INFORMATION 
RECEIVED AS A RESULT OF USING THE SERVICES, OR (V) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON USING THE SERVICES; IN EACH CASE, 
EVEN IF RationalCity HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. In the event this limitation of liability shall be for 
any reason held unenforceable or inapplicable, You agree that RationalCity's aggregate liability shall not exceed the amount 
Paid by you for the services during the SIX-month period prior to the event giving rise to such liabIlity.
<br />
<br />
<h2>11.  Amendments.</h2>
RationalCity may change these terms or the Services at any time(s), in RationalCity's sole discretion after 
posting a notice in the Services.  It is the End User's responsibility to periodically check these terms for any changes.  
<br />
<br />
<h2>12.  Statute of Limitations.</h2>
You agree that regardless of any statute or law to the contrary, any claim or cause of action 
arising out of or related to use of the Services and these terms or any related matter must be filed within one year after 
such claim or cause of action arose or be forever barred.
