@{
    ViewBag.Title = "SourcesLicenseAgreement";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<style type="text/css" >
    body {
        font-family:Arial, Helvetica, sans-serif;
        font-size:14px;
        color:#cccccc;
        background:#0e235a;
        min-height:1178px;
    }
</style>

<h2>Sources License Agreement</h2>

License agreement for RATIONALCITY web application
RATIONALCITY Ltd

RATIONALCITY Ltd ("RATIONALCITY") IS WILLING TO
LICENSE THE "RATIONALCITY WEB APPLICATION" SOFTWARE
AND ACCOMPANYING DOCUMENTATION (COLLECTIVELY, "SOFTWARE")
UPON THE CONDITION THAT YOU ACCEPT ALL OF THE TERMS OF THIS
LICENSE AGREEMENT ("AGREEMENT").  PLEASE READ THESE TERMS
CAREFULLY BEFORE INSTALLING OR USING THE SOFTWARE. BY
INSTALLING OR USING THE SOFTWARE, YOU ARE CONSENTING TO BE
BOUND BY AND ARE BECOMING A PARTY TO THIS AGREEMENT. IF YOU
DO NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, RATIONALCITY IS
UNWILLING TO LICENSE THE SOFTWARE TO YOU ("YOU"), AND YOU
SHOULD NOT INSTALL OR USE THE SOFTWARE.
<br />
<h2>TYPES OF LICENSES</h2>

In order to install and use the Software You must purchase
the Commercial Use License.
<br />
<h2>COMMERCIAL USE LICENSE</h2>

Provided that You have paid the required license fee(s)
for a Commercial Use License, and subject to
the terms and conditions contained herein, RATIONALCITY hereby
grants to You, an end user, a non-transferable, non-
exclusive, non-sublicensable license to install and use the
Software on any number of computers.  
In addition, subject to the terms and
conditions contained herein and provided You have paid the
required license fee(s), RATIONALCITY hereby grants You, an end
user, a non-transferable, non-exclusive, non-sublicensable
license to: (1) modify and make derivative
works (such as software patches, bug fixes, or the creation
of additional features) of the Software, and (2) to only
make copies of the Software as necessary to make such
modifications and derivative works, all for the sole
purpose of internally evaluating the Software and any
modifications and derivative works, all for commercial
purposes. You must pay RATIONALCITY the appropriate license fee(s) 
for the Software in a manner acceptable to RATIONALCITY as specified 
on RATIONALCITY's website located at http://www.rationalcity.com. 
You agree that upon termination of your Commercial Use License, 
You will cease using the Software, destroy any copies that you have
made, and remove the Software from your computers.

RATIONALCITY and/or its licensors reserve all rights not expressly
granted to You herein. Any license granted by RATIONALCITY under
this Agreement is not a sale of the Software or any copy of
the Software. The Software contains valuable trade secrets
of RATIONALCITY and its licensors. All worldwide ownership of and
all rights, titles and interests in and to the Software,
and all copies and portions of the Software, including
without limitation, all intellectual property rights
therein and thereto, are and will remain exclusively with
RATIONALCITY. All rights not expressly granted herein
are retained by RATIONALCITY and its licensors.
<br />
<h2>USE RESTRICTIONS</h2>

You may not: 
<br />
(i) use the Software, except under the terms listed above; 
<br />
(ii) rent, lease, sublicense, convey, distribute or
otherwise transfer rights to the Software;
<br />
(iii) remove any product identification, copyright,
proprietary notices or labels from the Software; or
<br />
(iv) use any RATIONALCITY trademarks in any manner other than
their presence within Your copy of the Software without
written permission of RATIONALCITY.
<br />
Any and all copies made by You as permitted hereunder must
contain all of the original Software's copyright, trademark
and other proprietary notices and marks.
<br />
<h2>MAINTENANCE, SUPPORT AND UPDATES</h2>

RATIONALCITY is under no obligation to maintain or support or
update the Software in any way, or to provide updates or
error corrections.  Subject to the terms and conditions
herein and provided that You have paid any applicable
license and other fee(s), if You are a Commercial Use
licensee, You will receive software updates (as RATIONALCITY, 
in its sole discretion, releases from time to time), technical
support via email for certain time periods set by RATIONALCITY.  
For further information, go to http://www.RATIONALCITY.com
<br />
<h2>CONFIDENTIALITY</h2>

The Software and any license authorization codes are
confidential and proprietary information of RATIONALCITY. You agree
to take adequate steps to protect the Software and any
license authorization codes, if any, from unauthorized
disclosure or use. You agree that You will not disclose the
Software, in source code or object code form, to any third
party, except as otherwise provided herein.
<br />
<h2>WARRANTY</h2>

RATIONALCITY EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS,
IMPLIED OR STATUTORY, INCLUDING, WITHOUT LIMITATION, THE
IMPLIED WARRANTIES OF MERCHANTABILITY, OF FITNESS FOR A
PARTICULAR PURPOSE, NONINFRINGEMENT OF THIRD PARTY
INTELLECTUAL PROPERTY RIGHTS, AND ANY WARRANTY THAT MAY
ARISE BY REASON OF TRADE USAGE, CUSTOM, OR COURSE OF
DEALING. WITHOUT LIMITING THE FOREGOING, YOU ACKNOWLEDGE
THAT THE SOFTWARE IS PROVIDED "AS IS" AND THAT RATIONALCITY DOES NOT
WARRANT THAT THE SOFTWARE WILL RUN UNINTERRUPTED OR ERROR
FREE NOR THAT THE SOFTWARE WILL OPERATE WITH HARDWARE
AND/OR SOFTWARE NOT PROVIDED BY RATIONALCITY. THIS DISCLAIMER OF
WARRANTY CONSTITUTES AN ESSENTIAL PART OF THE AGREEMENT.
<br />
<h2>LIMITED LIABILITY</h2>

THE ENTIRE RISK AS TO RESULTS AND PERFORMANCE OF THE
SOFTWARE IS ASSUMED BY YOU. UNDER NO CIRCUMSTANCES WILL
RATIONALCITY OR ITS LICENSORS BE LIABLE FOR ANY SPECIAL, INDIRECT,
INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES OF ANY KIND
OR NATURE WHATSOEVER, WHETHER BASED ON CONTRACT, WARRANTY,
TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE,
ARISING OUT OF OR IN ANY WAY RELATED TO THE SOFTWARE OR
THIS AGREEMENT, EVEN IF RATIONALCITY OR ITS LICENSORS HAVE BEEN
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE OR IF SUCH DAMAGE
COULD HAVE BEEN REASONABLY FORESEEN, AND NOTWITHSTANDING
ANY FAILURE OF ESSENTIAL PURPOSE OF ANY EXCLUSIVE REMEDY
PROVIDED IN THIS AGREEMENT. SUCH LIMITATION ON DAMAGES
INCLUDES, BUT IS NOT LIMITED TO, DAMAGES FOR LOSS OF
GOODWILL, LOST PROFITS, LOSS OF DATA OR SOFTWARE, WORK
STOPPAGE, COMPUTER FAILURE OR MALFUNCTION OR IMPAIRMENT OF
OTHER GOODS. IN NO EVENT WILL RATIONALCITY OR ITS LICENSORS BE
LIABLE FOR THE COSTS OF PROCUREMENT OF SUBSTITUTE SOFTWARE
OR SERVICES. IN ADDITION, IN NO EVENT WILL THE TOTAL
LIABILITY OF RATIONALCITY IN CONNECTION WITH THIS AGREEMENT OR THE
SOFTWARE EXCEED THE ACTUAL AMOUNT PAID TO RATIONALCITY, IF ANY, FOR
THE SOFTWARE GIVING RISE TO THE CLAIM. YOU ACKNOWLEDGE THAT
THIS SOFTWARE IS NOT DESIGNED OR LICENSED FOR USE IN ON-
LINE EQUIPMENT IN HAZARDOUS ENVIRONMENTS SUCH AS OPERATION
OF NUCLEAR FACILITIES, AIRCRAFT NAVIGATION OR CONTROL, OR
LIFE-CRITICAL APPLICATIONS. RATIONALCITY EXPRESSLY DISCLAIMS ANY
LIABILITY RESULTING FROM USE OF THE SOFTWARE IN ANY SUCH ON-
LINE EQUIPMENT IN HAZARDOUS ENVIRONMENTS AND ACCEPTS NO
LIABILITY IN RESPECT OF ANY ACTIONS OR CLAIMS BASED ON THE
USE OF THE SOFTWARE IN ANY SUCH ON-LINE EQUIPMENT IN
HAZARDOUS ENVIRONMENTS BY YOU. FOR PURPOSES OF THIS
PARAGRAPH, THE TERM "LIFE-CRITICAL APPLICATION" MEANS AN
APPLICATION IN WHICH THE FUNCTIONING OR MALFUNCTIONING OF
THE SOFTWARE MAY RESULT DIRECTLY OR INDIRECTLY IN PHYSICAL
INJURY OR LOSS OF HUMAN LIFE. 
<br />
<h2>TERMINATION</h2>

This Agreement will terminate immediately and
automatically without notice if You breach any provision in
this Agreement. Upon termination You will remove all copies
of the Software or any part of the Software from any and
all computer storage devices and destroy the Software. At
RATIONALCITY's request, You or your authorized signatory, will
certify in writing to RATIONALCITY that all complete and partial
copies of the Software have been destroyed and that none
remain in your possession or under your control. The
provisions of this Agreement, except for the license grant
and warranty, will survive termination.
<br />
<h2>MISCELLANEOUS</h2>

If any provision hereof shall be held illegal, invalid or
unenforceable, in whole or in part, such provision shall be
modified to the minimum extent necessary to make it legal,
valid and enforceable, and the legality, validity and
enforceability of all other provisions of this Agreement
shall not be affected thereby. No delay or failure by
either party to exercise or enforce at any time any right
or provision hereof shall be considered a waiver thereof or
of such party's right thereafter to exercise or enforce
each and every right and provision of this Agreement. This
Agreement will bind and inure to the benefit of each
party's permitted successors and assigns. You may not
assign this Agreement in whole or in part, without RATIONALCITY's
prior written consent. Any attempt to assign this Agreement
without such consent will be null and void. This Agreement
is the complete and exclusive statement between You and RATIONALCITY
relating to the subject matter hereof and supersedes all
prior oral and written and all contemporaneous oral
negotiations, commitments and understandings of the
parties, if any. In the case of any conflict between the
terms of this Agreement and the provisions of any purchase
order for the Software, the terms of this Agreement shall
control.
