/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#cccccc;
	background:#0e235a url(images/templateBackground.jpg) no-repeat left bottom;
	min-height: 2100px;
}

body#blog_workspace {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	background:#0e235a;
	min-height:2100px;
}

body#workspace {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#cccccc;
	background:#0e235a;
	min-height:2100px;
}

.bodyframe {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#cccccc;
	background:#0e235a;
	margin:0;
}

/*-------------------------------------------------------------------*/

.logo {
	font-size: 1.2em;
	color:#4aacef;
}

.logo span {
	color:#ffffff;
	font-weight:bold;
}

.logo .slogan {
	color:#ffffff;
	font-weight: normal;
}

.logo_workspace {
	font-size: 1.2em;
	color:#000000;
}

.logo_workspace span {
	color:#000000;
	font-weight:bold;
	border-width:thin;
}

.hint {
	font-size: 0.8em;
	color:#4aacef;
	padding:10px 0px 0px 0px;
}

a:link {
	color: #aaaaaa;
	text-decoration: underline;
}

a:visited {
	color: #4aacef;
}

a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

a:active {
	color: #aaaaaa;
}

p, ul {
	margin-bottom: 20px;
	line-height: 1.6em;
}

header,
footer,
nav,
section {
	display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-size: 1.1em;
	color: #4aacef;
}

h1 
{
	font-size: 1.2em;
	margin-bottom: 0;
}

h2 {
	padding: 0 0 10px 0;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5, h6 {
	font-size: 1em;
}

.demo-link {
	font-size: 1.2em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

header, #header {
	position: relative;
	margin-bottom: 0px;
	color: #000;
	padding: 0;
}

header h1, #header h1 {
	/*font-weight: bold;
	padding: 5px 0;*/
	margin: 0;
	color: #fff;
	border: none;
	line-height: 2em;
	/*font-size: 32px !important;*/
	text-shadow: 1px 1px 2px #111;
}

#main 
{
	background-color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	min-height:1078px;
	padding: 20px 20px 10px 20px;
	border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
}

#main_rational_city
{
	background-color: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	min-height: 2000px;
	padding: 20px 20px 10px 20px;
	border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
	background-color: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	color: #cccccc;
	padding: 10px 0;
	text-align: center;
	line-height: normal;
	margin: 0 0 0;
	font-size: .9em;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
}

blog_footer_workspace, 
#blog_footer_workspace {
	background-color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	color: #cccccc;
	padding: 10px 0;
	text-align: center;
	line-height: normal;
	margin: 0 0 30px 0;
	font-size: .9em;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
}

footer_workspace, 
#footer_workspace {
	background-color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	color: #000000;
	padding: 10px 0;
	text-align: center;
	line-height: normal;
	margin: 0 0 30px 0;
	font-size: .9em;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
}
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
	padding: 0 0 2px;
	position: relative;
	margin: 0;
	text-align: left;
}

ul#menu li 
{
	display: inline;
	list-style: none;
}

ul#menu li#selected a 
{
	background-color: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	line-height: 2.8em;
	color:#6accef;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul#menu li a 
{
	background-color: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	line-height: 2.8em;
	color:#4aacef;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
	background-color: #4aacef;
	color: #034af3;
	text-decoration: none;
}

ul#menu li a:active {
	background-color: #a6e2a6;
	text-decoration: none;
}

ul#menu li.selected a {
	background-color: #fff;
	color: #000;
}

ul#menu_workspace {
	padding: 0 0 2px;
	position: relative;
	margin: 0;
	text-align: left;
}

ul#menu_workspace li 
{
	display: inline;
	list-style: none;
}

ul#menu_workspace li#selected a 
{
	background-color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	line-height: 2.8em;
	color:#6accef;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul#menu_workspace li a 
{
	background-color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);		/*for IE 8*/
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	line-height: 2.8em;
	color:#4aacef;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

ul#menu_workspace li a:hover {
	background-color: #4aacef;
	color: #034af3;
	text-decoration: none;
}

ul#menu_workspace li a:active {
	background-color: #a6e2a6;
	text-decoration: none;
}

ul#menu_workspace li.selected a {
	background-color: #fff;
	color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

input[type="text"], 
input[type="password"] {
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 1.2em;
	color: #444;
	width: 200px;
}

select {
	border: 1px solid #ccc;
	padding: 2px;
	font-size: 1.2em;
	color: #444;
}

input[type="submit"] {
	font-size: 1.0em;
	padding: 2px;
}

/* TABLE
----------------------------------------------------------*/

table {
	border-style:hidden;
	border-collapse: collapse;
	width: 100%;
}

table td {
	padding: 5px;
	border: 1px solid #cccccc;
	vertical-align: text-top;
}

table th {
	padding: 6px 5px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

table th a:hover
{
	color:#000;
}

table th a:link
{
	color:#000;
}

.grid {
	color:#000000;
	border-color:#000000;
}

.head {
	padding: 6px 5px;
	text-align: center;
	background-color: #cccccc;
	border-bottom: 1px solid #000000;
	/*height: 40px;*/
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.alt 
{
	background-color: #dddddd;
}

.footer {
}

.webgrid-wrapper,
.diagram-wrapper {
	border: 1px solid #000; /*#e8eef4;*/
	border-color: #cccccc;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
}

.chart-wrapper {
	border: 1px solid #000; /*#e8eef4;*/
	border-color: #cccccc;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
	display: inline-block;
	/*horizontal alignment*/
	margin-left: auto;
	margin-right: auto;
}

/* MISC  
----------------------------------------------------------*/
.clear {
	clear: both;
}

.error {
	color: Red;
}

nav, 
#menucontainer {
	margin-top: 10px;
	text-align: left;
}

div#title {
	display: block;
	float: right;
	text-align: right;
}

#logindisplay {
	font-size: 1.1em;
	display: block;
	text-align: right;
	margin: 5px;
	color: White;
}

#logindisplay a:link {
	color: white;
	text-decoration: underline;
}

#logindisplay a:visited {
	color: white;
	text-decoration: underline;
}

#logindisplay a:hover {
	color: white;
	text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #ff0000;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid {
	display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
	margin: 1em 0 0 0;
}

/* Margin should be the same as for display-label to prevent text offset.*/
.display-field, 
.editor-field {
	margin: 1em 0 0 0;
	font-weight:bold;
}

.text-box {
   width: 30em;
}

.text-box.multi-line {
	height: 6.5em;
}

.tri-state {
	width: 6em;
}

.webgrid-title {
	
}

.donation {
	text-align: center;
}

.donation .text {
	font-size: 1.2em; 
}

.donation .button {
	
}

.about {
	font-size: 1.0em;
	text-align: center;
}