@model IEnumerable<web.Models.ViewCOSEMAttributeValue>
@{
	ViewBag.Title = "Attributes associated with " + "\"" + ViewBag.DeviceName + "\"";
	Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<script language="javascript" type="text/javascript">
	$(function() {
		update();
	});

	function update() {
		var u = String(document.URL);
		$.ajax({
			url: u.replace(/State/g, 'Update'),
			method: "GET",
			dataType: "text",
			cache: false,
			timeout: 10000,

			success: function(response) {
				if (undefined == response)
					return;
				var c = new String(response);
				document.getElementById('table_current_state').innerHTML = c.replace(/Update/g, 'State');
			},

			error: function() {
			},
			complete: function() {
				setTimeout(function() {
					update();
				}, 5000);
			}
		});
	}

	;
</script>
           
<h2>Attributes associated with physical device "@Html.Raw(ViewBag.DeviceName)" ("@Html.Raw(ViewBag.DeviceTypeName)")</h2>

<p>
	@Html.ActionLink("Meters", (String) ("GroupDevices/" + ViewBag.DeviceGroupID.ToString()), "Device")
</p>

<div id="table_current_state">
	@Html.Partial("TableCurrentState", Model)
</div>