@using System.Globalization
@model web.Models.ViewCOSEMLogicalDevice

@{
	ViewBag.Title = "Details of COSEM logical device";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Details of COSEM logical device</h2>

<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
	@Html.ActionLink("Logical Devices", "Index/" + Model.DeviceTypeID.ToString(CultureInfo.InvariantCulture))
</p>

<fieldset>
	<legend>COSEM logical device properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
		</tr>
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Device type</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.DeviceTypeName)
				</div>
			</td>
		</tr>
	</table>
</fieldset>
