@{
	ViewBag.Title = "Select Location";
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";


	var grid = new WebGrid(source: Model,
						   defaultSort: "City",
						   rowsPerPage: 20); 
}

<h2>Select Location</h2>

<p>
	@Html.ActionLink("Dataset", "DataSet", new { id = ViewBag.ChartID, groupid = ViewBag.groupID, ViewBag.group, ownerid = ViewBag.ownerID, ViewBag.owner, ViewBag.locationid, ViewBag.location, ViewBag.element })
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml( 
			tableStyle: "grid", 
			headerStyle: "head", 
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("Apartament", "Apartament", style: "product"),
				grid.Column("Building", "Building", style: "product"),
				grid.Column("Street", "Street", style: "product"),
				grid.Column("City", "City", style: "product"),
				grid.Column("LocationAddressID", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("SelectLocation", "Chart", new { id = ViewBag.ChartID, ViewBag.groupID, ViewBag.group, ViewBag.ownerid, ViewBag.owner, locationid = item.LocationAddressID, item.location, ViewBag.element }) + "\"><input type=\"submit\" value=\"Select\" /></form>")</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
