@model IEnumerable<web.Models.ViewElementInstanceName>

@{
	ViewBag.Title = "Select Element";
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "FullName",
						   rowsPerPage: 20); 
}

<h2>Select Element</h2>

<p>
	@Html.ActionLink("Dataset", "DataSet", new { id = ViewBag.ChartID, groupid = ViewBag.groupID, ViewBag.group, ownerid = ViewBag.ownerID, ViewBag.owner, ViewBag.locationid, ViewBag.location, ViewBag.element })
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml( 
			tableStyle: "grid", 
			headerStyle: "head", 
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("GroupName", "Group", style: "product"),
				grid.Column("DeviceName", "Device", style: "product"),
				grid.Column("LogicalDevice", "Logical Device", style: "product"),
				grid.Column("LogicalObject", "Logical Object", style: "product"),
				grid.Column("Attribute", "Attribute", style: "product"),
				grid.Column("Identifier", "Identifier", style: "product"),
				grid.Column("FullName", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("SelectElement", "Chart", new { id = ViewBag.ChartID, groupid = ViewBag.groupID, ViewBag.group, ownerid = ViewBag.ownerID, ViewBag.owner, ViewBag.locationid, ViewBag.location, element = item.FullName }) + "\"><input type=\"submit\" value=\"Select\" /></form>")</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
