@using System.Globalization
@model web.Models.ViewCOSEMMethod

@{
	ViewBag.Title = "Delete the COSEM method";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Delete the COSEM method</h2>

<p>
	@Html.ActionLink("Methods", "Index/" + ((Int64)(ViewBag.COSEMClassID)).ToString(CultureInfo.InvariantCulture))
</p>

<h3>Are you sure you want to delete this COSEM method?</h3>
<fieldset>
	<legend>COSEM method properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">COSEM class</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.COSEMClassName)
				</div>
			</td>
		</tr>
		
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Method name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Mandatory</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Mandatory)
				</div>
			</td>
		</tr>
	</table>
</fieldset>
@using (Html.BeginForm()) {
	<p>
		<input type="submit" value="Delete" />
	</p>
}
