@{
	ViewBag.Title = "Upload";
	Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Data", FormMethod.Post, new {enctype="multipart/form-data"}))  {       
	<fieldset>
		<legend>Choose file to upload</legend>
		<p>
		<input type="file" name="file" />
		</p>
	</fieldset>
	<p>	
	<input type="submit" name="Submit" value="Upload" />	
	</p>
}
